.avatar, .avatar > .image {
  border-radius: 0;
}

.floatingAddButtonContainer {
  .button {
    position: absolute;
    right: 30px;
    bottom: -28px;
    z-index: 5;
  }

  position: relative;
}

[data-react-toolbox='list-item-text'] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-react-toolbox='list'] span {
  min-width: 0;
}