.list {
  white-space: initial;
  padding-top: 6rem;
}

.itemText.primary {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}