.list {
  white-space: initial;
  padding-top: 4rem;
}

.itemText.primary {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay {
  position: relative;
}

.overlay img {
    width:100%;
    vertical-align:top;
}

.overlay:after, .overlay:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.overlay:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}